/* Tailwind setup and custom theme variables */
@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-card: #1E1E1E;
  --color-primary: #9E78CF;
  --color-secondary: #3E1671;
}

body {
  background-color: var(--color-background);
  color: #0D0D0D;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
